// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-cool {
  background-color: magenta;
}

.btn-cool:hover {
    background-color: cyan;
}

.btn-warning {
  background-color: yellow;
}

.btn-warning:hover {
  background-color: black;
  border: 2px solid cyan;
}